.box{
    border: 1px dotted blueviolet
    ;
    width: 400px;
    height: 200px;
}
/* .ring{ */
    /* position: relative; */
    /* left: 30px; */
    /* top: 50px; */
/* } */
/* .ring{ */
    /* position: absolute; */
    /* top: 30px; */
    /* left: 200px; */
/* } */
.dummy{
    border: 1px solid black;
    width: 300px;
    height: 300px;
}